export(BAYESDEF)
import(REdaS)
import(gWidgets)
import(grDevices)
import(graphics)
import(readxl)
import(tcltk)
import(utils)
import(glmnet)
importFrom(stats,coef)
importFrom(stats,dt)
importFrom(stats,pt)
importFrom(stats,qt)
importFrom(stats,var)
